<div class="row">
  <div class="col-sm-2 col-sm-offset-4">
    <h2>Sign up</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class = "form">
    <div class = "row">
      <div class = "col-sm-2 col-sm-offset-4">
        <%= f.label :first_name %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-3 col-sm-offset-4">
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
    </div>

     <div class = "row">
      <div class = "col-sm-2 col-sm-offset-4">
        <%= f.label :last_name %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-3 col-sm-offset-4">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-2 col-sm-offset-4">
        <%= f.label :email %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-3 col-sm-offset-4">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-3 col-sm-offset-4">
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-3 col-sm-offset-4">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-sm-2 col-sm-offset-4">
        <%= f.label :password_confirmation %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-sm-3 col-sm-offset-4">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>
    <br/>
    <div class="row form-group">
      <div class = "col-sm-2 col-sm-offset-4">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
